// Tipografia
$font-size-root: 62.5%;
$result: 5.4rem;
$input: 2.4rem;
$label: 1.8rem;
$small: 1.4rem;


// Cores
$primary: #26c0ab;
$support-light-1: #ffffff;
$support-light-2: #f4fafa;
$support-light-3: #c5e4e7;
$support-light-4: #7f9c9f;
$support-light-5: #5e7a7d;
$support-dark-5: #00494d;


// Projeto
$borderRadius-container: 30px;
$padding-input: 14px;
$border-input: 2px;